[Unit]
Description=Send MySQL Audit Log to Syslog in LEEF
After=network.target

[Service]
WorkingDirectory=/opt/logs2leef/mysqlaudit2leef
ExecStart=/opt/logs2leef/mysqlaudit2leef/mysqlaudit2leef.sh <MySQL Audit Logfile> { <Remote syslog address> | local } start
ExecStop=/opt/logs2leef/mysqlaudit2leef/mysqlaudit2leef.sh <MySQL Audit Logfile> { <Remote syslog address> | local } stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
