[Unit]
Description=Send MySQL Audit Log to Syslog in LEEF
After=network.target

[Service]
WorkingDirectory=/opt/logs2leef/mysqlaudit2leef
ExecStart=/opt/logs2leef/mysqlaudit2leef/mysqlaudit2leef.sh /var/lib/mysql/audit.log start
ExecStop=/opt/logs2leef/mysqlaudit2leef/mysqlaudit2leef.sh /var/lib/mysql/audit.log stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
